@model List<Book>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>
@for (int i = 0; i < Model.Count; i++)
{
    <div class="childrow1">
        <div>
            <div>
                <p class="prow">
                    @Model[i].Name
                </p>
                <p class="prow">
                    @Model[i].Author
                </p>
                <p class="prowPrice">
                    @Model[i].Price <span>&euro;</span>
                </p>
                <p class="prow">
                    @Model[i].PublishDate.ToString("MM/dd/yyyy")
                </p>
                <p class="prow">
                    @{
                        for (int j = 0; j < Model[i].Popular; j++)
                        {
                            <span class="star">&#9733;</span>
                        }
                    }
                </p>

            </div>
        </div>
    </div>
}